<div>
    <p>Chào bạn,</p>
    <p>Nội dung tin nhắn được gửi đến cho bạn.</p>
    <hr>
    <p><span style="color: #333333">Họ Tên: </span>{FULL_NAME}</p>
    <p><span style="color: #333333">Email: </span><a href="mailto:{EMAIL_ADDR}">{EMAIL_ADDR}</a></p>
    <p><span style="color: #333333">Điện Thoại: </span><a href="tel:{PHONE_NUMBER}">{PHONE_NUMBER}</a></p>
    <p><span style="color: #333333">Nội Dung: </span></p>
    <div>{MESSAGE}</div>
    <hr>
    <p>Thông tin IP, trình duyệt người gửi:</p>
    <div>{MESSAGE_META}</div>
</div>
